# `Imported Libraries`.

In [ ]:
import os
import io
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.ticker as tkr
import xlsxwriter
import scipy.stats
import dataframe_image as dfi
import warnings

#==#

from io import BytesIO
from matplotlib.ticker import FormatStrFormatter, StrMethodFormatter
from matplotlib.ticker import (MultipleLocator, AutoMinorLocator)
from matplotlib.ticker import FuncFormatter
from matplotlib import font_manager
from matplotlib import colormaps
from matplotlib.backends.backend_pdf import PdfPages
from matplotlib.cbook import boxplot_stats
from pandas.io.formats.style import Styler
from pandas.io.formats.excel import ExcelFormatter
from openpyxl import Workbook
from scipy import stats
from fpdf import FPDF
from PIL import Image
from IPython.display import HTML, display

#==#

#pd.options.display.max_columns = 100
pd.set_option('display.max_columns', 100)
%matplotlib inline

# `Load Dataframe`.

- `.copy data set when you want to test something out so you wonâ€™t have to re-run the entire notebook if you make a mistake somewhere`.

In [ ]:
file_path = r"C:\Users\tailb\Downloads\sales_2020-01-01_2022-01-31.xlsx"
coffee_sales = pd.read_excel(file_path)
df = coffee_sales.copy()
df.head(3)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,NaN,United Kingdom,NaN,Butleigh,United Kingdom,NaN,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,NaN,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,NaN,United Kingdom,NaN,Hinckley,United Kingdom,NaN,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,NaN,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,NaN,United Kingdom,NaN,Butleigh,United Kingdom,NaN,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,NaN,4,30.0,0.0,0.0,30.0,0.0,0.0,30.0

# `Analyse Dataframe`.

  - 1.`Display dataframe statistics`

In [ ]:
df.describe()

,hour,order_id,pos_location_name,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales
count,81946,8.194600e+04,0.0,81946.000000,81946.000000,81946.000000,81946.000000,81946.000000,81946.000000,81946.000000,81946.000000
mean,2021-01-11 09:58:47.952554240,2.944383e+12,NaN,0.995155,19.327701,-3.769785,-0.220846,15.337071,0.339425,0.417555,16.094051
min,2020-01-01 09:00:00,1.883255e+12,NaN,-20.000000,0.000000,-789.300000,-3320.000000,-3320.000000,-51.970000,-664.000000,-3984.000000
25%,2020-06-27 17:00:00,2.206490e+12,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2021-01-03 09:00:00,2.523092e+12,NaN,1.000000,7.700000,0.000000,0.000000,7.500000,0.000000,0.000000,7.500000
75%,2021-07-06 16:00:00,3.823967e+12,NaN,1.000000,16.400000,0.000000,0.000000,15.420000,0.000000,0.000000,16.000000
max,2022-01-31 13:00:00,4.131618e+12,NaN,100.000000,3541.670000,0.000000,0.000000,3541.670000,51.970000,708.330000,4250.000000
std,NaN,8.077024e+11,NaN,1.954842,77.165640,25.239349,13.578067,62.117179,1.566273,9.744879,69.884806

  - 2.`Display index`.

In [ ]:
df.index

RangeIndex(start=0, stop=81946, step=1)

  - 3.`Display number of rows and columns`.

In [ ]:
df.shape

(81946, 27)

  - 4.`Display the number of rows times number of columns`.

In [ ]:
df.size

2212542

  - 5.`Display information about dataset`.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81946 entries, 0 to 81945
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_name      81936 non-null  object
 1   customer_type      81936 non-null  object
 2   hour               81946 non-null  datetime64[ns]
 3   order_id           81946 non-null  int64
 4   sale_line_type     81946 non-null  object
 5   sale_kind          81946 non-null  object
 6   api_client_title   81946 non-null  object
 7   pos_location_name  0 non-null      float64
 8   billing_country    81933 non-null  object
 9   billing_region     28027 non-null  object
 10  billing_city       81930 non-null  object
 11  shipping_country   81103 non-null  object
 12  shipping_region    27831 non-null  object
 13  shipping_city      81100 non-null  object
 14  product_type       49321 non-null  object
 15  product_vendor     49703 non-null  object
 16  product_title      49714 non-null  object
 17  variant_title      45403 non-null  object
 18  variant_sku        41739 non-null  object
 19  net_quantity       81946 non-null  int64
 20  gross_sales        81946 non-null  float64
 21  discounts          81946 non-null  float64
 22  returns            81946 non-null  float64
 23  net_sales          81946 non-null  float64
 24  shipping           81946 non-null  float64
 25  taxes              81946 non-null  float64
 26  total_sales        81946 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(16)
memory usage: 16.9+ MB

  - 6.` Clean column headings`.

In [ ]:
#Extract columns
cols = df.columns
#Create empty list
new_cols = []
#iterate to fix issues with names
for column in cols:
    #to proper case
    #proper_cols = column.title()
    #to lower case
    lower_cols = column.lower()
    #replace space/hyphen with underscore
    proper_cols_hyphen = lower_cols.replace(" ", "_")
    clean_col = proper_cols_hyphen.replace("-", "_")
    #append to empty list
    new_cols.append(clean_col)
#diplay columns
new_cols

#replace existing columns in dataframe with new
df.columns = new_cols

#preview
df.head(3)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,NaN,United Kingdom,NaN,Butleigh,United Kingdom,NaN,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,NaN,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,NaN,United Kingdom,NaN,Hinckley,United Kingdom,NaN,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,NaN,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,NaN,United Kingdom,NaN,Butleigh,United Kingdom,NaN,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,NaN,4,30.0,0.0,0.0,30.0,0.0,0.0,30.0

  - 7.`Display datatypes of each column`.

In [ ]:
df.dtypes

customer_name                object
customer_type                object
hour                 datetime64[ns]
order_id                      int64
sale_line_type               object
sale_kind                    object
api_client_title             object
pos_location_name           float64
billing_country              object
billing_region               object
billing_city                 object
shipping_country             object
shipping_region              object
shipping_city                object
product_type                 object
product_vendor               object
product_title                object
variant_title                object
variant_sku                  object
net_quantity                  int64
gross_sales                 float64
discounts                   float64
returns                     float64
net_sales                   float64
shipping                    float64
taxes                       float64
total_sales                 float64
dtype: object

- 8.`Data Types and Type Conversion [Converting a float to a sting - e.g. order_id]`.

In [ ]:
df.order_id = df.order_id.astype(str) # pos_location_name is no longer float64
df.dtypes

customer_name                object
customer_type                object
hour                 datetime64[ns]
order_id                     object
sale_line_type               object
sale_kind                    object
api_client_title             object
pos_location_name           float64
billing_country              object
billing_region               object
billing_city                 object
shipping_country             object
shipping_region              object
shipping_city                object
product_type                 object
product_vendor               object
product_title                object
variant_title                object
variant_sku                  object
net_quantity                  int64
gross_sales                 float64
discounts                   float64
returns                     float64
net_sales                   float64
shipping                    float64
taxes                       float64
total_sales                 float64
dtype: object

  - 9.`Show duplicates`.

In [ ]:
df.duplicated() # Find duplicates. TRUE = Duplicated values present.

0        False
1        False
2        False
3        False
4        False
         ...
81941    False
81942    False
81943    False
81944    False
81945    False
Length: 81946, dtype: bool

  - 10.`Show duplicates in columnar form`.

In [ ]:
df.duplicated().any() # Find if there are any duplicates. TRUE = Duplicated values present.

False

- `11.Delete/Remove duplicate rows based on all columns`.

In [ ]:
#df.drop_duplicates() #(subset=None, keep=â€™firstâ€™, inplace=False, ignore_index=False)

 - 12.`Show null values in dataframe`.

In [ ]:
df.isnull() # Display null/empty values. TRUE  = Null values present. # df.isna() can be used as well!

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales
0,False,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,True,False,False,True,False,True,True,True,True,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,True,False,False,True,False,True,True,True,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81941,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
81942,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
81943,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
81944,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
81945,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

 - 13.`Display booleans for null/missing values in columnar form`.

In [ ]:
df.isnull().any().to_frame('Boolean').sort_values(by='Boolean',ascending=False).reset_index().rename(columns={'index':'Column name'})

          Column name  Boolean
0       customer_name     True
1        billing_city     True
2         variant_sku     True
3       variant_title     True
4       product_title     True
5      product_vendor     True
6        product_type     True
7       customer_type     True
8     shipping_region     True
9    shipping_country     True
10      shipping_city     True
11     billing_region     True
12    billing_country     True
13  pos_location_name     True
14   api_client_title    False
15          sale_kind    False
16     sale_line_type    False
17           order_id    False
18               hour    False
19       net_quantity    False
20        gross_sales    False
21          discounts    False
22            returns    False
23          net_sales    False
24           shipping    False
25              taxes    False
26        total_sales    False

 - 14.`Display sum of missing values in columnar form - A`.

In [ ]:
df.isnull().sum().to_frame('Sum of Missing Values').sort_values(by='Sum of Missing Values',ascending=False)\
    .reset_index().rename(columns={'index':'Column Name'}).style.format({"Sum of Missing Values": "{:,.0f}"})

- 15.`Display the sum of missing values in columnar form - B`.

In [ ]:
missing_sum = df.isnull().sum().round(2)
print(missing_sum)

customer_name           10
customer_type           10
hour                     0
order_id                 0
sale_line_type           0
sale_kind                0
api_client_title         0
pos_location_name    81946
billing_country         13
billing_region       53919
billing_city            16
shipping_country       843
shipping_region      54115
shipping_city          846
product_type         32625
product_vendor       32243
product_title        32232
variant_title        36543
variant_sku          40207
net_quantity             0
gross_sales              0
discounts                0
returns                  0
net_sales                0
shipping                 0
taxes                    0
total_sales              0
dtype: int64

- 16.`Display the sum of missing values in columnar form - C`(Function utilised).

In [ ]:
def missing_cols(df):
    #prints out columns with its amount of missing values
    total = 0
    for col in df.columns:
        missing_vals = df[col].isnull().sum()
        total += missing_vals
        if missing_vals != 0:
            print(f"{col} => {df[col].isnull().sum()}")
    
    if total == 0:
        print("no missing values left")
            
missing_cols(df)

customer_name => 10
customer_type => 10
pos_location_name => 81946
billing_country => 13
billing_region => 53919
billing_city => 16
shipping_country => 843
shipping_region => 54115
shipping_city => 846
product_type => 32625
product_vendor => 32243
product_title => 32232
variant_title => 36543
variant_sku => 40207

  - 17.`Display the % of null/missing values in columnar form - A`.

In [ ]:
missing_pct = df.isnull().sum()/len(df) * 100
print(missing_pct.round(2))

customer_name          0.01
customer_type          0.01
hour                   0.00
order_id               0.00
sale_line_type         0.00
sale_kind              0.00
api_client_title       0.00
pos_location_name    100.00
billing_country        0.02
billing_region        65.80
billing_city           0.02
shipping_country       1.03
shipping_region       66.04
shipping_city          1.03
product_type          39.81
product_vendor        39.35
product_title         39.33
variant_title         44.59
variant_sku           49.07
net_quantity           0.00
gross_sales            0.00
discounts              0.00
returns                0.00
net_sales              0.00
shipping               0.00
taxes                  0.00
total_sales            0.00
dtype: float64

 # `Clean Dataframe`.

### `Handling missing values`.

In [ ]:
df.fillna({'lp':'Not Stated',
           'customer_type':'Not Stated',
           'customer_type':'Not Stated',
           'pos_location_name':'Not Stated',
           'billing_country':'Not Stated',
           'billing_region':'Not Stated',
           'billing_city':'Not Stated',
           'shipping_country':'Not Stated',
           'shipping_region':'Not Stated',
           'shipping_city':'Not Stated',
           'product_type':'Not Stated',
           'product_vendor':'Not Stated',
           'product_title':'Not Stated',
           'variant_title':'Not Stated',
           'variant_sku':'Not Stated',     
           }, inplace=True)

- 1.`Display booleans for null/missing values in columnar form`.

In [ ]:
df.isnull().any().to_frame('Boolean').sort_values(by='Boolean',ascending=False).reset_index().rename(columns={'index':'Column name'})

          Column name  Boolean
0       customer_name     True
1        product_type    False
2               taxes    False
3            shipping    False
4           net_sales    False
5             returns    False
6           discounts    False
7         gross_sales    False
8        net_quantity    False
9         variant_sku    False
10      variant_title    False
11      product_title    False
12     product_vendor    False
13      shipping_city    False
14      customer_type    False
15    shipping_region    False
16   shipping_country    False
17       billing_city    False
18     billing_region    False
19    billing_country    False
20  pos_location_name    False
21   api_client_title    False
22          sale_kind    False
23     sale_line_type    False
24           order_id    False
25               hour    False
26        total_sales    False

- 2.`Display sum of missing values in columnar form - A`.

In [ ]:
df.isnull().sum().to_frame('Sum of Missing Values').sort_values(by='Sum of Missing Values',ascending=False)\
    .reset_index().rename(columns={'index':'Column Name'}).style.format({"Sum of Missing Values": "{:,.0f}"})

- 3.`Display the sum of missing values in columnar form - B`.

In [ ]:
missing_sum = df.isnull().sum().round(2)
print(missing_sum)

customer_name        10
customer_type         0
hour                  0
order_id              0
sale_line_type        0
sale_kind             0
api_client_title      0
pos_location_name     0
billing_country       0
billing_region        0
billing_city          0
shipping_country      0
shipping_region       0
shipping_city         0
product_type          0
product_vendor        0
product_title         0
variant_title         0
variant_sku           0
net_quantity          0
gross_sales           0
discounts             0
returns               0
net_sales             0
shipping              0
taxes                 0
total_sales           0
dtype: int64

- 4.`Display the sum of missing values in columnar form - C`(Function utilised).

In [ ]:
def missing_cols(df):
    #prints out columns with its amount of missing values
    total = 0
    for col in df.columns:
        missing_vals = df[col].isnull().sum()
        total += missing_vals
        if missing_vals != 0:
            print(f"{col} => {df[col].isnull().sum()}")
    
    if total == 0:
        print("no missing values left")
            
missing_cols(df)

customer_name => 10

- 5.`Display the % of null/missing values in columnar form - A`.

In [ ]:
missing_pct = df.isnull().sum()/len(df) * 100
print(missing_pct.round(2))

#missing_pct = round(df.isnull().sum()/len(df) * 100, 2)
#print(missing_pct)

customer_name        0.01
customer_type        0.00
hour                 0.00
order_id             0.00
sale_line_type       0.00
sale_kind            0.00
api_client_title     0.00
pos_location_name    0.00
billing_country      0.00
billing_region       0.00
billing_city         0.00
shipping_country     0.00
shipping_region      0.00
shipping_city        0.00
product_type         0.00
product_vendor       0.00
product_title        0.00
variant_title        0.00
variant_sku          0.00
net_quantity         0.00
gross_sales          0.00
discounts            0.00
returns              0.00
net_sales            0.00
shipping             0.00
taxes                0.00
total_sales          0.00
dtype: float64

- 6.`Display the % of null/missing values in in columnar form - B`(Function utilised)

In [ ]:
def missing_pct(df):
    for col in df.columns:
        pct = df[col].isnull().sum()/(len(df))
        #pct = df[col].isnull().sum()/(len(df)) * 100
        if(pct != 0):
            print(f"{col} => {pct:.2%}")
            #print("{} : {}%".format(col, round(pct,2)))
    if(pct == 0):
        print("no missing values left")

missing_pct(df)

customer_name => 0.01%
no missing values left

## `Execution`.

In [ ]:
df['date']=pd.to_datetime(df['hour']).dt.normalize()

#df['date']=df['hour'].dt.date
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01

### ==

- `Pandas Groupby with Range`.
  - Apply `.loc` and `.between` to group by `size` and create a new column displaying size.

In [ ]:
df.loc[df['total_sales'].between(0, 100), 'size'] = '1'
df.loc[df['total_sales'].between(100, 200), 'size'] = '2'
df.loc[df['total_sales'].between(200, 300), 'size'] = '3'
df.loc[df['total_sales'].between(300, 400), 'size'] = '4'
df.loc[df['total_sales'].between(400, 500), 'size'] = '5'
df.loc[df['total_sales'].between(500, 600), 'size'] = '6'
df.loc[df['total_sales'].between(600, 700), 'size'] = '7'
df.loc[df['total_sales'].between(700, 800), 'size'] = '8'
df.loc[df['total_sales'].between(800, 900), 'size'] = '9'
df.loc[df['total_sales'].between(900, 1000), 'size'] = '10'
df.loc[df['total_sales'].between(1000, 1100), 'size'] = '11'
df.loc[df['total_sales'].between(1100, 1200), 'size'] = '12'
df.loc[df['total_sales'].between(1200, 1300), 'size'] = '13'
df.loc[df['total_sales'].between(1300, 1400), 'size'] = '14'
df.loc[df['total_sales'].between(1400, 1500), 'size'] = '15'
df.loc[df['total_sales'].between(1500, 1600), 'size'] = '16'
df.loc[df['total_sales'].between(1600, 1700), 'size'] = '17'
df.loc[df['total_sales'].between(1700, 1800), 'size'] = '18'
df.loc[df['total_sales'].between(1800, 1900), 'size'] = '19'
df.loc[df['total_sales'].between(1900, 2000), 'size'] = '20'
df.loc[df['total_sales'].between(2000, 2100), 'size'] = '21'
df.loc[df['total_sales'].between(2100, 2200), 'size'] = '22'
df.loc[df['total_sales'].between(2200, 2300), 'size'] = '23'
df.loc[df['total_sales'].between(2300, 2400), 'size'] = '24'
df.loc[df['total_sales'].between(2400, 2500), 'size'] = '25'
df.loc[df['total_sales'].between(2500, 2600), 'size'] = '26'
df.loc[df['total_sales'].between(2600, 2700), 'size'] = '27'
df.loc[df['total_sales'].between(2700, 2800), 'size'] = '28'
df.loc[df['total_sales'].between(2800, 2900), 'size'] = '29'
df.loc[df['total_sales'].between(2900, 3000), 'size'] = '30'
df.loc[df['total_sales'].between(3000, 3100), 'size'] = '32'
df.loc[df['total_sales'].between(3100, 3200), 'size'] = '33'
df.loc[df['total_sales'].between(3200, 3300), 'size'] = '34'
df.loc[df['total_sales'].between(3300, 3400), 'size'] = '35'
df.loc[df['total_sales'].between(3400, 3500), 'size'] = '36'
df.loc[df['total_sales'].between(3500, 3600), 'size'] = '37'
df.loc[df['total_sales'].between(3600, 3700), 'size'] = '38'
df.loc[df['total_sales'].between(3700, 3800), 'size'] = '39'
df.loc[df['total_sales'].between(3800, 3900), 'size'] = '40'
df.loc[df['total_sales'].between(3900, 4000), 'size'] = '41'
df.loc[df['total_sales'].between(4000, 4100), 'size'] = '42'
df.loc[df['total_sales'].between(4100, 4200), 'size'] = '43'
df.loc[df['total_sales'].between(4200, 4300), 'size'] = '44'
df.loc[df['total_sales'].between(4300, 4400), 'size'] = '45'
df.loc[df['total_sales'].between(4400, 4500), 'size'] = '46'
df.head(3)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,Not Stated,4,30.0,0.0,0.0,30.0,0.0,0.0,30.0,2020-01-01,1

- Apply `df.loc`, `df.set_index` and `index.indexer_between_time` to convert a string to `day`,`afternoon`,`evening` and `night` and create a new column displaying day, afternoon, evening and night.

In [ ]:
# Set time of day based on specified time frames
df.loc[df.set_index('hour').index.indexer_between_time('05:00', '12:00'), 'parts_of_the_day'] = 'morning'
df.loc[df.set_index('hour').index.indexer_between_time('12:00', '17:00'), 'parts_of_the_day'] = 'afternoon'
df.loc[df.set_index('hour').index.indexer_between_time('17:00', '21:00'), 'parts_of_the_day'] = 'evening'
df.loc[df.set_index('hour').index.indexer_between_time('21:00', '04:00'), 'parts_of_the_day'] = 'night'
df.head(3)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,Not Stated,4,30.0,0.0,0.0,30.0,0.0,0.0,30.0,2020-01-01,1,morning

- Applying `.dt.hour.between` and `inclusive='both'` to convert a string to `day` and `evening` and create a new column displaying day and evening.

In [ ]:
#df['dayness'] = df['hour'].dt.hour.between(00, 18.00, inclusive = 'both')
#df['dayness'] = df['dayness'].replace({True:"day", False:"evening"})
#df.head(10)

  - `Check on 'parts_of_the_day'`.

In [ ]:
df[df['parts_of_the_day']=='morning'].head(3)
#df[df['parts_of_the_day']=='afternoon'].head(3)
#df[df['parts_of_the_day']=='evening'].head(3)
#df[df['parts_of_the_day']=='night'].head(3)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,Not Stated,4,30.0,0.0,0.0,30.0,0.0,0.0,30.0,2020-01-01,1,morning

- Applying `pd.to_datetime`,`format='%H:%M:%S'` and `dt.hour` to convert string to `time` and create a new column displaying time.

In [ ]:
df['time']=df['hour'].dt.hour
df.head(3)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,Not Stated,4,30.0,0.0,0.0,30.0,0.0,0.0,30.0,2020-01-01,1,morning,9

- Applying `dt.day_name` to convert a string to `day` and create a new column displaying day.

In [ ]:
df['day']=df['hour'].dt.day_name()
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday

- Applying `dt.month_name` to convert strings to `month` and create a new column displaying month.

In [ ]:
df['month']=df['hour'].dt.month_name()
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January

- Applying `dt.strftime` to convert strings to `year` and create a new column displaying year.

In [ ]:
df['year']=df['hour'].dt.strftime('%Y')
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020

- Applying `pd.PeriodIndex`,`df.date` and `fre='Q'` to convert strings to `quarter` and create a new column displaying quarter.
  - df['quarter'] = pd.PeriodIndex(df.hour, freq='Q')

In [ ]:
df['quarter'] = pd.PeriodIndex(df.hour, freq='Q')
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1

- Applying `dt.strftime` to convert strings to `day_month` and create a new column displaying day_month.

In [ ]:
df['day_month']=df['hour'].dt.strftime('%a_%b')
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter,day_month
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan

- Applying `dt.strftime` to convert strings to `day_year` and create a new column displaying day_year.

In [ ]:
df['day_year']=df['hour'].dt.strftime('%a_%Y')
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter,day_month,day_year
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020

- Applying `dt.strftime` to convert strings to `month-year` and create a new column displaying month_year.

In [ ]:
df['month_year']=df['hour'].dt.strftime('%b_%Y')
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter,day_month,day_year,month_year
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020

- Applying `dt.strftime` to convert strings `day_month_year` and create a new column displaying day_month_year.

In [ ]:
df['day_month_year']=df['hour'].dt.strftime('%a_%b_%Y')
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter,day_month,day_year,month_year,day_month_year
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020

- Applying `dt.strftime` to convert strings `month_day_year` and create a new column displaying month_day_year.

In [ ]:
df['month_day_year']=df['hour'].dt.strftime('%b_%a_%Y')
df.head(2)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter,day_month,day_year,month_year,day_month_year,month_day_year
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0.0,0.0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0.0,0.0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020

# `Remove negative values in the the rows of a column`.

- `Display rows of columns with numeric values of interest`.

In [ ]:
# df.loc[:,'net_quantity':'total_sales']

- `Display rows of 'total_sales' column`.

In [ ]:
# df.loc[:,'total_sales'].to_frame()

- `Display rows of 'total_sales' column with negative values`.

In [ ]:
# df[df['total_sales'] < 0].loc[:,'total_sales'].to_frame()

 - `Replace negative values in the rows of the 'total_sales' column with 0`.

In [ ]:
# df['total_sales'] = df['total_sales'].map(lambda x: x if x > 0 else 0)

 - `Check if negative values in the rows of the 'total_sales' column have been replaced with 0`.

In [ ]:
# df[df['total_sales']<0].loc[:,'total_sales'].to_frame()

# if (df['total_sales'] < 0).any():
#     print("There are still negative values in 'total_sales'.")
# else:
#     print("All negative values in the 'total_sales' column have been replaced with 0.")

# `Remove negative values in the the rows of several columns`.

- `Display rows of columns with numeric values of interest`.

In [ ]:
df.loc[:,'net_quantity':'total_sales']

,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales
0,2,17.0,0.0,0.0,17.0,0.00,0.00,17.0
1,1,16.0,0.0,0.0,16.0,0.00,0.00,16.0
2,4,30.0,0.0,0.0,30.0,0.00,0.00,30.0
3,0,0.0,0.0,0.0,0.0,4.67,0.93,5.6
4,0,0.0,0.0,0.0,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...
81941,9,468.0,-163.8,0.0,304.2,0.00,0.00,304.2
81942,6,60.0,-21.0,0.0,39.0,0.00,0.00,39.0
81943,4,34.0,-12.0,0.0,22.0,0.00,0.00,22.0
81944,12,102.0,-40.2,0.0,61.8,0.00,0.00,61.8
81945,1,59.0,-19.2,0.0,39.8,0.00,0.00,39.8

 - `Columns to filter`.

In [ ]:
cwnv = ['net_quantity', 'gross_sales', 'discounts', 'returns', 'net_sales', 'shipping', 'taxes', 'total_sales'] # Columns to filter

 - `Replace negative values in the rows of the several columns with 0`.

In [ ]:
df[cwnv] = df[cwnv].map(lambda x: x if x > 0 else 0) # Filter values, keeping only those greater than 0

 - `Check if negative values in the rows of several columns have been replaced with 0`.

In [ ]:
df.loc[:, cwnv] # Check for update.

# Verify if any negative values remain
if (df[cwnv] < 0).values.any():
    print("There are still negative values in 'cwnv' columns.")
else:
    print("All negative values in the 'cwnv' columns have been replaced with 0.")

All negative values in the 'cwnv' columns have been replaced with 0.

# `Replace inf & -inf values with null/missing values and drop from rows`.

In [ ]:
df.replace([np.inf, -np.inf], np.nan).dropna(axis=0,inplace=True) # 0 = rows, 1 = Rows

# `Final Checkup`.

### `Copy original Dataframe`.

In [ ]:
df = df.copy()
df.head(3)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter,day_month,day_year,month_year,day_month_year,month_day_year
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0,0,17.0,0.0,0.0,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0,0,16.0,0.0,0.0,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,Not Stated,4,30.0,0,0,30.0,0.0,0.0,30.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020

### `Display Datframe statistics`.

In [ ]:
df.describe()

,hour,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,time
count,81946,81946.000000,81946.000000,81946.0,81946.0,81946.000000,81946.000000,81946.000000,81946.000000,81946,81946.000000
mean,2021-01-11 09:58:47.952554240,1.001306,19.327701,0.0,0.0,15.557916,0.349243,0.438312,16.345471,2021-01-10 21:10:30.766602240,12.804774
min,2020-01-01 09:00:00,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,2020-01-01 00:00:00,0.000000
25%,2020-06-27 17:00:00,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,2020-06-27 00:00:00,9.000000
50%,2021-01-03 09:00:00,1.000000,7.700000,0.0,0.0,7.500000,0.000000,0.000000,7.500000,2021-01-03 00:00:00,12.000000
75%,2021-07-06 16:00:00,1.000000,16.400000,0.0,0.0,15.420000,0.000000,0.000000,16.000000,2021-07-06 00:00:00,17.000000
max,2022-01-31 13:00:00,100.000000,3541.670000,0.0,0.0,3541.670000,51.970000,708.330000,4250.000000,2022-01-31 00:00:00,23.000000
std,NaN,1.945875,77.165640,0.0,0.0,60.558304,1.521477,9.396690,67.956358,NaN,5.014267

# `Filter Dataframe`.

### `df.query('x not in ["x"]')`. `df.query('(x not in ["x"]') and (x not in ["x"])')`.

In [ ]:
df = df.query('product_type not in ["Coffee Equipment for Home"]')
df#.head(3)
# df.query('(product_type not in ["Coffee Equipment for Home"]) and\
#          ( billing_country  not in ["United Kingdom","Gb"])')\
#             .groupby('billing_country').total_sales.aggregate(['min','median','max','mean','count','sum']).reset_index().sort_values(by='sum',ascending=False).reset_index(drop=True).head(10)
#                  #.groupby('billing_country')['total_sales'].sum().to_frame().reset_index().sort_values(by='total_sales',ascending=False).reset_index(drop=True).head(10)

,customer_name,customer_type,hour,order_id,sale_line_type,sale_kind,api_client_title,pos_location_name,billing_country,billing_region,billing_city,shipping_country,shipping_region,shipping_city,product_type,product_vendor,product_title,variant_title,variant_sku,net_quantity,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,date,size,parts_of_the_day,time,day,month,year,quarter,day_month,day_year,month_year,day_month_year,month_day_year
0,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Broadway Blend,250g / Beans,Not Stated,2,17.0,0,0,17.0,0.00,0.00,17.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
1,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,product,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Subscription,Climpson & Sons,Decaf Recaf - Say When... Auto renew,500g / Whole Bean,Not Stated,1,16.0,0,0,16.0,0.00,0.00,16.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
2,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,product,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Coffee,Climpson & Sons,Climpson Estate,250g / Beans,Not Stated,4,30.0,0,0,30.0,0.00,0.00,30.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
3,Lucy Otterwell,Returning,2020-01-01 09:00:00,1940686143558,shipping,order,Online Store,Not Stated,United Kingdom,Not Stated,Butleigh,United Kingdom,Not Stated,Butleigh,Not Stated,Not Stated,Not Stated,Not Stated,Not Stated,0,0.0,0,0,0.0,4.67,0.93,5.6,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
4,Leigh Adams,Returning,2020-01-01 09:00:00,1940683128902,shipping,order,Recurring Billing by Recharge,Not Stated,United Kingdom,Not Stated,Hinckley,United Kingdom,Not Stated,Hinckley,Not Stated,Not Stated,Not Stated,Not Stated,Not Stated,0,0.0,0,0,0.0,0.00,0.00,0.0,2020-01-01,1,morning,9,Wednesday,January,2020,2020Q1,Wed_Jan,Wed_2020,Jan_2020,Wed_Jan_2020,Jan_Wed_2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81941,[Front Room] Amelia Wilkinson,Returning,2022-01-31 13:00:00,4131597877318,product,order,Wholesale,Not Stated,United Kingdom,England,Bungay,United Kingdom,England,Bungay,Coffee,Climpson & Sons,The Baron,2KG / Whole Bean,CCTBA0012000WB,9,468.0,0,0,304.2,0.00,0.00,304.2,2022-01-31,4,afternoon,13,Monday,January,2022,2022Q1,Mon_Jan,Mon_2022,Jan_2022,Mon_Jan_2022,Jan_Mon_2022
81942,[Front Room] Amelia Wilkinson,Returning,2022-01-31 13:00:00,4131597877318,product,order,Wholesale,Not Stated,United Kingdom,England,Bungay,United Kingdom,England,Bungay,Coffee,Climpson & Sons,"Single Origin: San Jeronimo, Guatemala",250g / Whole Bean,CCGUA0030250WB,6,60.0,0,0,39.0,0.00,0.00,39.0,2022-01-31,1,afternoon,13,Monday,January,2022,2022Q1,Mon_Jan,Mon_2022,Jan_2022,Mon_Jan_2022,Jan_Mon_2022
81943,[Front Room] Amelia Wilkinson,Returning,2022-01-31 13:00:00,4131597877318,product,order,Wholesale,Not Stated,United Kingdom,England,Bungay,United Kingdom,England,Bungay,Coffee,Climpson & Sons,"Decaf: La Plata, Colombia",250g / Whole Bean,CCDEC0010250WB,4,34.0,0,0,22.0,0.00,0.00,22.0,2022-01-31,1,afternoon,13,Monday,January,2022,2022Q1,Mon_Jan,Mon_2022,Jan_2022,Mon_Jan_2022,Jan_Mon_2022
81944,[Front Room] Amelia Wilkinson,Returning,2022-01-31 13:00:00,4131597877318,product,order,Wholesale,Not Stated,United Kingdom,England,Bungay,United Kingdom,England,Bungay,Coffee,Climpson & Sons,The Estate,250g / Whole Bean,CCEST0020250WB,12,102.0,0,0,61.8,0.00,0.00,61.8,2022-01-31,1,afternoon,13,Monday,January,2022,2022Q1,Mon_Jan,Mon_2022,Jan_2022,Mon_Jan_2022,Jan_Mon_2022
81945,[Front Room] Amelia Wilkinson,Returning,2022-01-31 13:00:00,4131597877318,product,order,Wholesale,Not Stated,United Kingdom,England,Bungay,United Kingdom,England,Bungay,Coffee,Climpson & Sons,"Decaf: La Plata, Colombia",2KG / Whole Bean,CCDEC0012000WB,1,59.0,0,0,39.8,0.00,0.00,39.8,2022-01-31,1,afternoon,13,Monday,January,2022,2022Q1,Mon_Jan,Mon_2022,Jan_2022,Mon_Jan_2022,Jan_Mon_2022

# `Applying a function to highlight negative values`.

#### `Apply a function to highlight negative values`.

In [ ]:
# Define a function to highlight negative values
def highlight_negative_values(val):
    if isinstance(val, (int, float)) and val < 0:
        return 'color: red;'
    else:
        return None

# `Grouped Dataframes`.

### `Dataframe Properties`.

In [ ]:
# Guide:
# font-size: medium - 14px, 16px, 1.0em 1.1em, large - 	18px, 1.2em 1.3em
# font-weight: 600 - Semi Bold (Demi Bold), 700 - Bold, 800 - Extra Bold (Ultra Bold), 900 - Black (Heavy)

# Dataframe properties
row_props = {"selector":"tr:hover","props":[("background-color","white"),("color","purple"),
("font-family","georgia"),("font-style","italic"),("font-weight","900"),("font-size","18px"),("text-align","center")]}

header_props = {"selector":"th:hover","props":[("background-color","grey"),("color","cyan"),
("font-family","georgia"),("font-style","italic"),("font-weight","900"),("font-size","18px"),("text-align","center")]}

data_props = {"selector":"td:hover","props":[("background-color","white"),("color","green"),
("font-family","consolas"),("font-style","italic"),("font-weight","900"),("font-size","18px"),("text-align","center")]}

cap_props = {"selector":"caption","props":[("caption-side","top"),("background-color","white"),("color","red"),
("font-family","Arial"),("font-style","normal"),("font-weight","900"),("font-size","18px"),("text-align","center")]}

props = {"border":"4px solid white","width":'120px',"text-align":"justify","height":"10px"}

warnings.filterwarnings("ignore", category=UserWarning)

### `Create nested folders to save the images`.

In [ ]:
def create_directory(path):
    
    if os.path.exists(path):
        return f"Directory already exists: {path}"
    else:
        os.makedirs(path, exist_ok=True)
        return f"Directory created: {path}"

# Define paths for PNG and PDF directories
png_project_directory = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
pdf_project_directory = r"\Users\tailb\Python-Documents\os\PDF Files\GhP"

# Use the function to create/check each directory
print(create_directory(png_project_directory))
print(create_directory(pdf_project_directory))

Directory already exists: \Users\tailb\Python-Documents\os\PNG Files\GhP
Directory already exists: \Users\tailb\Python-Documents\os\PDF Files\GhP

In [ ]:
# # Create nested folders to save the images
# png_directory_base = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
# pdf_directory_base = r"\Users\tailb\Python-Documents\os\PDF Files\GhP"
    
# os.makedirs(r"\Users\tailb\Python-Documents\os\PNG Files\GhP",exist_ok=True)
# os.makedirs(r"\Users\tailb\Python-Documents\os\PDF Files\GhP",exist_ok=True)

### `Unstyled Dataframes`.

#### `Figure-Level Display Of Categorical Estimate Plot`.

##### `Figure-Level Pointplot Data`.

In [ ]:
# Rename dataframe values in a specified column.
api_client_titles_renamed  = {'Buy Button':'Buy','Draft Orders':'Draft','GUSTATORY':'Gusta','Online Store':'Online',
            'Recurring Billing by Recharge':'RcBiByRec','Syncio Multi Store Sync':'Sync','Wholesale':'WhSale'}

# Ensure 'total_sales' is numeric and handle non-numeric values
pointplot_dataset1 = df.copy()
pointplot_dataset1['total_sales'] = pd.to_numeric(pointplot_dataset1['total_sales'], errors='coerce')
pointplot_dataset1['api_client_title'] = pointplot_dataset1['api_client_title'].map(api_client_titles_renamed)
pointplot_dataset1['pct_total_sales'] = pointplot_dataset1['total_sales']/pointplot_dataset1['total_sales'].sum()
#pointplot_data2 = pointplot_dataset2
#pointplot_data2

# Replace infinite values and drop NaNs
pointplot_data1 = pointplot_dataset1.replace([np.inf, -np.inf], np.nan).dropna(subset=['total_sales'])
#.query('(product_type not in ["Coffee Equipment for Home"]) and (total_sales >= 0) and (billing_country  not in ["United Kingdom,"Gb"])') # Filter dataframe.
pointplot_data1

##### `Figure-Level Pointplot 1`.

In [ ]:
# CATPLOT-POINTPLOT 1A (Hue = sale_kind)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
# style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

apict = ['Online','WhSale','RcBiByRec', 'Draft', 'Gusta', 'Sync', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

g = sns.catplot(data=pointplot_data1,x='api_client_title',y='total_sales',hue='sale_kind',row=None,col=None,kind='point',estimator='sum',errorbar=None,n_boot=1000,
seed=None,units=None,weights=None,order=None,hue_order=None,row_order=None,col_order=None,col_wrap=None,
height=5,aspect=1,log_scale=None,native_scale=False,formatter=None,orient=None,color=None,palette='bright',hue_norm=None,legend='full',legend_out=True,sharex=False,sharey=False,
margin_titles=False,facet_kws=None,ci='deprecated',
markers=["P","v"],linestyles=["solid","dashed"],markeredgecolor='cyan',markeredgewidth=2,markerfacecolor='yellow',capsize=0.4,saturation=0.75,dodge=True)

#==#

g.figure.set_size_inches(20, 7.5)
# g.figure.set_size_inches(15, 7.5)

#==#

# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.set_title('Catplot/Pointplot 1A - Total Sales By Api Client Title',loc='center',fontdict=title_font)
    ax.set_xlabel('Api Client Title',loc='center',fontdict=x_label_font)
    ax.set_ylabel('Â£ Total Sales',loc='center',fontdict=y_label_font)
    ax.yaxis.set_major_formatter(StrMethodFormatter('Â£ {x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    # ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')

#==#

title_props=dict(family='consolas',style='normal',weight='bold',size='x-large')
legend_props=dict(family='consolas',style='normal',weight='bold',size='small')
sns.move_legend(g,"upper left",bbox_to_anchor=(0.84, 0.96),borderaxespad=0,title='Sale Kind',title_fontproperties=title_props,prop=legend_props,frameon=True,shadow=True,fancybox=True)
# sns.move_legend(g,"upper left",bbox_to_anchor=(0.84, 0.96),borderaxespad=0,title='Sale Kind',title_fontproperties=title_props,prop=legend_props,frameon=True,shadow=True,fancybox=True)

#==#

# Annotation format properties
arrow=dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="round",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')


# Annotate catplot/poinplot values & percentages in arrow & bbox round format - Â£/%

# Function to annotate points & percentages
def annotate_values_and_percentages(ax):
    for line in ax.lines:
        for x, y in zip(line.get_xdata(), line.get_ydata()):
            # Assuming the y-values are to be converted to percentages
            percent = y / pointplot_data1['total_sales'].sum() * 100
            ax.annotate(f'Â£ {y:,.0f}:\n {percent:.2f}%',(x, y),xytext=(20, 5),textcoords='offset points',
                ha='left',va='center',family='consolas',fontstyle='normal',fontsize=8,fontweight='bold',color='darkred',rotation=0,arrowprops=arrow,bbox=box)
            
# Iterate through each subplot to annotate points & percentages
for ax in g.axes.flat:
    annotate_values_and_percentages(ax)
#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-pointplot1A.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()

##### `Figure-Level Pointplot 2`.

In [ ]:
# CATPLOT-POINTPLOT 1B (Hue = sale_kind, Col = Quarter)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
# style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

apict = ['Online','WhSale','RcBiByRec', 'Draft', 'Gusta', 'Sync', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

#COLS = QUARTER#
g = sns.catplot(data=pointplot_data1,x='api_client_title',y='total_sales',hue='sale_kind',row=None,col='quarter',kind='point',estimator='sum',errorbar=None,n_boot=1000,
seed=None,units=None,weights=None,order=None,hue_order=None,row_order=None,col_order=None,col_wrap=4,
height=5,aspect=1,log_scale=False,native_scale=False,formatter=None,orient=None,color=None,palette='bright',hue_norm=None,legend='full',legend_out=True,sharex=False,sharey=False,
margin_titles=False,facet_kws=None,ci='deprecated',
markers=["P","v"],linestyles=["solid","dashed"],linewidth=3,markeredgecolor='cyan',markeredgewidth=2,markerfacecolor='yellow',capsize=0.4,
saturation=0.75,dodge=True)

#==#

g.figure.set_size_inches(20, 10)
g.figure.suptitle('Catplot/Pointplot 1B - Total Sales By Api Client Title Type Per Quarter',size=30,fontdict=suptitle_font) 
g.set_axis_labels("Api Client Title","Total Sales",fontdict=axis_labels_font,labelpad=None,loc=None) 
g.figure.subplots_adjust(left=None,bottom=None,right=None,top=0.9,wspace=0.3,hspace=0.3)

#==#

# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.yaxis.set_major_formatter(StrMethodFormatter('Â£ {x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')
#==#

# Customize the legend
legend = g.legend # Assign variable to legend
legend.set_bbox_to_anchor((1.01, 0.894)) # Set location of bbox_to_anchor [subplots adjust]
legend.set_title("Sale Kind",prop=dict(family='consolas',style='normal',weight='bold',size='x-large')) # Set title & properties
legend.get_title().set_color('red') # Change the color of the legend title separately
legend.get_title().set_alpha(1) # Change alpha of the title appearance
legend.set_frame_on(True) # Set frame
legend.get_frame().set_color('white')  # Set frame color
legend.get_frame().set_edgecolor('gold') # Set frame edgecolor
legend.get_frame().set_linewidth(0.7) # Set frame width
legend.get_frame().set_alpha(0.3)  # Makes the frame opaque (0-1)

# Apply legend properties for the labels
for text in legend.get_texts():
    text.set_fontfamily('consolas') # Set text font family
    text.set_fontstyle('italic') # Set text font style
    text.set_fontweight('bold') # Set text font weight
    text.set_fontsize('medium') # Set text font size
    text.set_color('darkblue') # Set text color
    text.set_alpha(0.7) # Set text alpha
    text.set_bbox(dict(boxstyle='square',fc='mistyrose',ec='cyan',ls='dashdot',lw=1,alpha=0.3)) # Set bbox properties

#==#

# Annotation format properties
arrow=dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="round",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')

# Annotate catplot/poinplot values & percentages in bbox round format - Â£/%

# Access the underlying axes
axes = g.axes.flatten()

# Iterate over each subplot and annotate
for ax in axes:
    for line in ax.lines:
        x, y = line.get_data()
        for i, (xi, yi) in enumerate(zip(x, y)):
            if not np.isnan(yi):  # skip NaN values
                percent = yi / pointplot_data1['total_sales'].sum() * 100
                ax.annotate(f'Â£ {yi:,.0f}:\n {percent:.2f}%',(xi, yi),xytext=(10, -1),textcoords='offset points',
                ha='left',va='center',family='consolas',fontstyle='normal',fontsize=8,fontweight='bold',color='darkred',rotation=0,arrowprops=arrow,bbox=box)

#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-pointplot1B.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()

##### `Figure-Level Barplot Data`.

In [ ]:
# Rename dataframe values in a specified column.
api_client_titles_renamed  = {'Buy Button':'Buy','Draft Orders':'Draft','GUSTATORY':'Gusta','Online Store':'Online',
            'Recurring Billing by Recharge':'RcBiByRec','Syncio Multi Store Sync':'Sync','Wholesale':'WhSale'}

# Ensure 'total_sales' is numeric and handle non-numeric values
barplot_dataset1 = df.copy()
barplot_dataset1['total_sales'] = pd.to_numeric(barplot_dataset1['total_sales'], errors='coerce')
barplot_dataset1['api_client_title'] = barplot_dataset1['api_client_title'].map(api_client_titles_renamed)
barplot_dataset1['pct_total_sales'] = barplot_dataset1['total_sales']/barplot_dataset1['total_sales'].sum()
#barplot_data1 = barplot_dataset1
#barplot_data1

# Replace infinite values and drop NaNs
barplot_data1 = barplot_dataset1.replace([np.inf, -np.inf], np.nan).dropna(subset=['total_sales'])
#.query('(product_type not in ["Coffee Equipment for Home"]) and (total_sales >= 0) and (billing_country  not in ["United Kingdom,"Gb"])') # Filter dataframe.
barplot_data1

##### `Figure-Level Barplot 1`.

In [ ]:
# CATPLOT-BARPLOT 1A (Hue = api_client_title)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
#style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

apict = ['Online','WhSale','RcBiByRec', 'Draft', 'Sync', 'Gusta', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

g = sns.catplot(data=barplot_data1,x='api_client_title',y='total_sales',hue='api_client_title',row=None,col=None,kind='bar',estimator='sum',errorbar=('ci', 95),n_boot=1000,
seed=None,units=None,weights=None,order=apict,hue_order=apict,row_order=None,col_order=None,col_wrap=None,height=5,aspect=2,log_scale=None,native_scale=False,formatter=None,
orient=None,color=None,palette=None,hue_norm=None,legend='full',legend_out=False,sharex=False,sharey=False,margin_titles=False,facet_kws=None,edgecolor=None,
saturation=0.75,fill=True,width=0.8,dodge='auto',gap=0,capsize=0,err_kws=None,)

#==#

g.figure.set_size_inches(20, 7.5)
# g.figure.set_size_inches(15, 7.5)

#==#
 
# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.set_title('Catplot/Barplot 1A - Total Sales By Api Client Title',loc='center',fontdict=title_font)
    ax.set_xlabel('Api Client Title',loc='center',fontdict=x_label_font)
    ax.set_ylabel('Â£ Total Sales',loc='center',fontdict=y_label_font)
    ax.yaxis.set_major_formatter(StrMethodFormatter('Â£ {x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    # ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')

#==#

title_props=dict(family='consolas',style='normal',weight='bold',size='x-large')
legend_props=dict(family='consolas',style='normal',weight='bold',size='small')
sns.move_legend(g,"upper left",bbox_to_anchor=(0.99, 0.96),borderaxespad=0,title='Api Client Title',title_fontproperties=title_props,prop=legend_props,frameon=True,shadow=True,fancybox=True)
# sns.move_legend(g,"upper left",bbox_to_anchor=(0.99, 0.96),borderaxespad=0,title='Api Client Title',title_fontproperties=title_props,prop=legend_props,frameon=True,shadow=True,fancybox=True)

#==#

# Annotate values and percentages in arrow & bbox circle format - Â£/%.

# Annotation format properties
arrow = dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="circle",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')

# Annotate the bars
ax = g.facet_axis(0, 0)  # Since we don't have row or col, it's always (0, 0)
# Get the patches from the bar plot
for p in ax.patches:
    # calculates the x-coordinate at the center of a bar in a bar plot by taking the bar's starting x-position and adding half its width.
    x = p.get_x() + p.get_width() / 2 
    # Get the height of each bar
    y = p.get_height()
    ax.annotate(f' Â£ {y:,.0f}\n({y/ barplot_data1["total_sales"].sum():.1%})',(x, y),xytext=(30, 15),
                ha='center',va='center',family='consolas',fontstyle='normal',fontsize=10,fontweight='bold',color='black',rotation=0,
                textcoords='offset points',arrowprops=arrow,bbox=box)

#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-barplot1A.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()

##### `Figure-Level Barplot 2`.

In [ ]:
# CATPLOT-BARPLOT 1B (Hue = api_client_title, Col = quarter)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
# style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

apict = ['Online','WhSale','RcBiByRec', 'Draft', 'Sync', 'Gusta', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

#COLS = QUARTER#
g = sns.catplot(data=barplot_data1,x='api_client_title',y='total_sales',hue='api_client_title',row=None,col='quarter',kind='bar',estimator='sum',errorbar=('ci', 95),n_boot=1000,
seed=None,units=None,weights=None,order=apict,hue_order=apict,row_order=None,col_order=None,col_wrap=4,height=5,aspect=2,log_scale=False,native_scale=False,formatter=None,
orient=None,color=None,palette=None,hue_norm=None,legend='full',legend_out=False,sharex=False,sharey=False,margin_titles=False,facet_kws=None,edgecolor=None,
saturation=0.75,fill=True,width=0.8,dodge='auto',gap=0,capsize=0,err_kws=None,)

#==#

g.figure.set_size_inches(20, 10)
g.figure.suptitle('Catplot/Barplot 1B - Total Sales By Api Client Title Per Quarter',size=30,fontdict=suptitle_font) 
g.set_axis_labels("Api Client Title","Total Sales",fontdict=axis_labels_font,labelpad=None,loc=None) 
g.figure.subplots_adjust(left=None,bottom=None,right=None,top=0.9,wspace=0.3,hspace=0.3)

#==#

# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.yaxis.set_major_formatter(StrMethodFormatter('Â£ {x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    # ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')

#==#

# Customize the legend
legend = g.legend # Assign variable to legend
legend.set_bbox_to_anchor((5.30, 1.04)) # Set location of bbox_to_anchor [subplots adjust]
legend.set_title("Sale Kind",prop=dict(family='consolas',style='normal',weight='bold',size='x-large')) # Set title & properties
legend.get_title().set_color('red') # Change the color of the legend title separately
legend.get_title().set_alpha(1) # Change alpha of the title appearance
legend.set_frame_on(True) # Set frame
legend.get_frame().set_color('white')  # Set frame color
legend.get_frame().set_edgecolor('gold') # Set frame edgecolor
legend.get_frame().set_linewidth(0.7) # Set frame width
legend.get_frame().set_alpha(0.3)  # Makes the frame opaque (0-1)

# Apply legend properties for the labels
for text in legend.get_texts():
    text.set_fontfamily('consolas') # Set text font family
    text.set_fontstyle('italic') # Set text font style
    text.set_fontweight('bold') # Set text font weight
    text.set_fontsize('medium') # Set text font size
    text.set_color('darkblue') # Set text color
    text.set_alpha(0.7) # Set text alpha
    text.set_bbox(dict(boxstyle='square',fc='mistyrose',ec='cyan',ls='dashdot',lw=1,alpha=0.3)) # Set bbox properties

#==#

# Annotate values and percentages in arrow & bbox circle format - Â£/%.

# Annotation format properties
arrow = dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="circle",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')

# Annotate the bars
for ax in g.axes.flat:
    for p in ax.patches:
        x = p.get_x() + p.get_width() / 2 
        y = p.get_height()
        ax.annotate(f' Â£ {y:,.0f}\n({y / barplot_data1["total_sales"].sum():.1%})',(x, y),xytext=(30, 15),
                ha='center',va='center',family='consolas',fontstyle='normal',fontsize=8,fontweight='bold',color='black',rotation=0,
                textcoords='offset points',arrowprops=arrow,bbox=box)

#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-barplot1B.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()

##### `Figure-Level Barplot 3`.

In [ ]:
# CATPLOT-BARPLOT 1C (Hue = api_client_title, Col = day)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
# style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

apict = ['Online','WhSale','RcBiByRec', 'Draft', 'Gusta', 'Sync', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

#COLS = DAY#
g = sns.catplot(data=barplot_data1,x='api_client_title',y='total_sales',hue='api_client_title',row=None,col='day',kind='bar',estimator='sum',errorbar=('ci', 95),n_boot=1000,
seed=None,units=None,weights=None,order=apict,hue_order=apict,row_order=None,col_order=day,col_wrap=4,height=5,aspect=2,log_scale=False,native_scale=False,formatter=None,
orient=None,color=None,palette=None,hue_norm=None,legend='full',legend_out=False,sharex=False,sharey=False,margin_titles=False,facet_kws=None,edgecolor=None,
saturation=0.75,fill=True,width=0.8,dodge='auto',gap=0,capsize=0,err_kws=None,)

#==#

g.figure.set_size_inches(20, 10)
g.figure.suptitle('Catplot/Barplot 1C - Total Sales By Api Client Title Per Day',size=30,fontdict=suptitle_font) 
g.set_axis_labels("Api Client Title","Total Sales",fontdict=axis_labels_font,labelpad=None,loc=None) 
g.figure.subplots_adjust(left=None,bottom=None,right=None,top=0.9,wspace=0.3,hspace=0.3)

#==#

# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.yaxis.set_major_formatter(StrMethodFormatter('Â£ {x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    # ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')

#==#
    
# Customize the legend
legend = g.legend # Assign variable to legend
legend.set_bbox_to_anchor((5.53, 1.03)) # Set location of bbox_to_anchor [subplots adjust]
legend.set_title("Api Client Title",prop=dict(family='consolas',style='normal',weight='bold',size='x-large')) # Set title & properties
legend.get_title().set_color('red') # Change the color of the legend title separately
legend.get_title().set_alpha(1) # Change alpha of the title appearance
legend.set_frame_on(True) # Set frame
legend.get_frame().set_color('white')  # Set frame color
legend.get_frame().set_edgecolor('gold') # Set frame edgecolor
legend.get_frame().set_linewidth(0.7) # Set frame width
legend.get_frame().set_alpha(0.3)  # Makes the frame opaque (0-1)

# Apply legend properties for the labels
for text in legend.get_texts():
    text.set_fontfamily('consolas') # Set text font family
    text.set_fontstyle('italic') # Set text font style
    text.set_fontweight('bold') # Set text font weight
    text.set_fontsize('medium') # Set text font size
    text.set_color('darkblue') # Set text color
    text.set_alpha(0.7) # Set text alpha
    text.set_bbox(dict(boxstyle='square',fc='mistyrose',ec='cyan',ls='dashdot',lw=1,alpha=0.3)) # Set bbox properties

#==#

# Annotate values and percentages in arrow & bbox circle format - Â£/%.

# Annotation format properties
arrow = dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="circle",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')

# Annotate the bars
for ax in g.axes.flat:
    for p in ax.patches:
        x = p.get_x() + p.get_width() / 2 
        y = p.get_height()
        ax.annotate(f' Â£ {y:,.0f}\n({y / barplot_data1["total_sales"].sum():.1%})',(x, y),xytext=(30, 15),
                ha='center',va='center',family='consolas',fontstyle='normal',fontsize=8,fontweight='bold',color='black',rotation=0,
                textcoords='offset points',arrowprops=arrow,bbox=box)

#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-barplot1C.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()

##### `Figure-Level Countplot Data`.

In [ ]:
# Rename dataframe values in a specified column.
api_client_titles_renamed  = {'Buy Button':'Buy','Draft Orders':'Draft','GUSTATORY':'Gusta','Online Store':'Online',
            'Recurring Billing by Recharge':'RcBiByRec','Syncio Multi Store Sync':'Sync','Wholesale':'WhSale'}

# Ensure 'total_sales' is numeric and handle non-numeric values
countplot_dataset = df.copy()
countplot_dataset['total_sales'] = pd.to_numeric(countplot_dataset['total_sales'], errors='coerce')
countplot_dataset['api_client_title'] = countplot_dataset['api_client_title'].map(api_client_titles_renamed)
countplot_dataset['pct_total_sales'] = countplot_dataset['total_sales']/countplot_dataset['total_sales'].sum()
#countplot_data = countplot_dataset
#countplot_data

# Replace infinite values and drop NaNs
countplot_data = countplot_dataset.replace([np.inf, -np.inf], np.nan).dropna(subset=['total_sales'])
#.query('(product_type not in ["Coffee Equipment for Home"]) and (total_sales >= 0) and (billing_country  not in ["United Kingdom,"Gb"])') # Filter dataframe.
countplot_data

##### `Figure-Level Countplot 1`.

In [ ]:
# CATPLOT-COUNTPLOT A (Hue = api_client_title)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
# style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

# apict = ['Online', 'WhSale', 'RcBiByRec', 'Draft', 'Gusta', 'Sync', 'Buy']
apict = ['Online', 'RcBiByRec', 'WhSale', 'Draft', 'Sync', 'Gusta', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

g = sns.catplot(data=countplot_data,x='api_client_title',y=None,hue='api_client_title',row=None,col=None,kind='count',estimator='mean',errorbar=('ci', 95),n_boot=1000,
seed=None,units=None,weights=None,order=apict,hue_order=apict,row_order=None,col_order=None,col_wrap=None,
height=5,aspect=1,log_scale=None,native_scale=False,formatter=None,orient=None,color=None,palette='bright',hue_norm=None,legend='full',legend_out=True,sharex=False,sharey=False,
margin_titles=False,facet_kws=None,ci='deprecated',
saturation=0.75,fill=True,stat='count',width=0.8,dodge=False,gap=0,edgecolor='black',linestyle='solid',linewidth=1,alpha=1)

#==#

g.figure.set_size_inches(20, 7.5)
# g.figure.set_size_inches(15, 7.5)

#==#
    
# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.set_title('Catplot/Countplot A - Total Count By Api Client Title',loc='center',fontdict=title_font)
    ax.set_xlabel('Api Client Title',loc='center',fontdict=x_label_font)
    ax.set_ylabel('Total Count',loc='center',fontdict=y_label_font)
    ax.yaxis.set_major_formatter(StrMethodFormatter('{x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    # ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')
     
#==#

title_props=dict(family='consolas',style='normal',weight='bold',size='x-large')
legend_props=dict(family='consolas',style='normal',weight='bold',size='small')
sns.move_legend(g,"upper left",bbox_to_anchor=(0.79, 0.96),borderaxespad=0,title='Api Client Title',title_fontproperties=title_props,prop=legend_props,frameon=True,shadow=True,fancybox=True)
# sns.move_legend(g,"upper left",bbox_to_anchor=(0.97, 0.96),borderaxespad=0,title='Api Client Title',title_fontproperties=title_props,prop=legend_props,frameon=True,shadow=True,fancybox=True)

#==#

# Annotate counts and percentages in arrow & bbox ellipse format - #/%

# Annotation format properties
arrow = dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="ellipse",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')

# Calculate the total number of instances
total = len(countplot_data)

# Function to add counts and percentages on the plot in bbox ellipse format - #/%
def add_counts_and_percentages(ax):
    for p in ax.patches:
        count = p.get_height()
        percentage = f'{count / total:.2%}'
        x = p.get_x() + p.get_width() / 2
        y = p.get_height()
        ax.annotate(f'{count:,.0f}\n({percentage})',(x,y),xytext=(30,15),
                    ha='center',va='center',family='consolas',fontstyle='normal',fontsize=8,fontweight='bold',color='black',rotation=0,
                    textcoords='offset points',arrowprops=arrow,bbox=box)
   
# Add counts and percentages to each subplot in the FacetGrid
for ax in g.axes.flat:
    add_counts_and_percentages(ax)

#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-countplotA.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()

##### `Figure-Level Countplot 2`.

In [ ]:
# CATPLOT-COUNTPLOT B (Hue = api_client_title, Col = quarter)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
# style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

# apict = ['Online', 'WhSale', 'RcBiByRec', 'Draft', 'Gusta', 'Sync', 'Buy']
apict = ['Online', 'RcBiByRec', 'WhSale', 'Draft', 'Sync', 'Gusta', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

g = sns.catplot(data=countplot_data,x='api_client_title',y=None,hue='api_client_title',row=None,col='quarter',kind='count',estimator='mean',errorbar=('ci', 95),n_boot=1000,
seed=None,units=None,weights=None,order=apict,hue_order=apict,row_order=None,col_order=None,col_wrap=4,
height=5,aspect=1,log_scale=None,native_scale=False,formatter=None,orient=None,color=None,palette='bright',hue_norm=None,legend='full',legend_out=True,sharex=False,sharey=False,
margin_titles=False,facet_kws=None,ci='deprecated',
saturation=0.75,fill=True,stat='count',width=0.8,dodge=False,gap=0,edgecolor='black',linestyle='solid',linewidth=1,alpha=1)

#==#

g.figure.set_size_inches(20, 10)
g.figure.suptitle('Catplot/Countplot B - Api Client Title Count & Percentage of Count By Quarter',size=30,fontdict=suptitle_font) 
g.set_axis_labels("Sale Line Type","Count",fontdict=axis_labels_font,labelpad=None,loc=None) 
g.figure.subplots_adjust(left=None,bottom=None,right=None,top=0.9,wspace=0.3,hspace=0.3)

#==#

# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.yaxis.set_major_formatter(StrMethodFormatter('{x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    # ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')

#==#
 
# Customize the legend
legend = g.legend # Assign variable to legend
legend.set_bbox_to_anchor((1.05, 0.838)) # Set location of bbox_to_anchor [subplots adjust]
legend.set_title("Api Client Title",prop=dict(family='consolas',style='normal',weight='bold',size='x-large')) # Set title & properties
legend.get_title().set_color('red') # Change the color of the legend title separately
legend.get_title().set_alpha(1) # Change alpha of the title appearance
legend.set_frame_on(True) # Set frame
legend.get_frame().set_color('white')  # Set frame color
legend.get_frame().set_edgecolor('gold') # Set frame edgecolor
legend.get_frame().set_linewidth(0.7) # Set frame width
legend.get_frame().set_alpha(0.3)  # Makes the frame opaque (0-1)

# Apply legend properties for the labels
for text in legend.get_texts():
    text.set_fontfamily('consolas') # Set text font family
    text.set_fontstyle('italic') # Set text font style
    text.set_fontweight('bold') # Set text font weight
    text.set_fontsize('medium') # Set text font size
    text.set_color('darkblue') # Set text color
    text.set_alpha(0.7) # Set text alpha
    text.set_bbox(dict(boxstyle='square',fc='mistyrose',ec='cyan',ls='dashdot',lw=1,alpha=0.3)) # Set bbox properties

#==#

# Annotate counts and percentages in arrow & bbox ellipse format - #/%

# Annotation format properties
arrow = dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="ellipse",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')

# Calculate the total number of instances
total = len(countplot_data)

# Function to add counts and percentages on the plot
def add_counts_and_percentages(ax):
    for p in ax.patches:
        count = p.get_height()
        percentage = f'{count / total:.2%}'
        x = p.get_x() + p.get_width() / 2
        y = p.get_height()
        ax.annotate(f'{count:,.0f}\n({percentage})',(x,y),xytext=(30,15),
                    ha='center',va='center',family='consolas',fontstyle='normal',fontsize=8,fontweight='bold',color='black',rotation=0,
                    textcoords='offset points',arrowprops=arrow,bbox=box)

# Add counts and percentages to each subplot in the FacetGrid
for ax in g.axes.flat:
    add_counts_and_percentages(ax)

#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-countplotB.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()

##### `Figure-Level Countplot 3`.

In [ ]:
# CATPLOT-COUNTPLOT C (Hue = api_client_title, Col = day)

title_font = {'family':'trebuchet ms','color':'darkorchid','size':20,'style':'normal','weight':'bold'}
x_label_font = {'family':'consolas','color':'darkred','size':15,'style':'normal','weight':'bold'}
y_label_font = {'family':'verdana','color':'darkgreen','size':15,'style':'normal','weight':'bold'}
suptitle_font = {'family':'trebuchet ms','color':'chocolate','style':'normal','weight':'bold'}
axis_labels_font = {'family':'trebuchet ms','color':'darkorchid','size':15,'style':'normal','weight':'bold'}

#==#

context = sns.set_context("notebook") # ('paper', 'notebook', 'talk', 'poster')
#style = sns.axes_style() # ('darkgrid', 'whitegrid', 'dark', 'white', 'ticks')
style = sns.axes_style("ticks",{'grid.linestyle':'-.','grid.color':'white','axes.facecolor':'lightsteelblue','axes.grid':True})
sns.set_theme(context=context,style=style,palette='bright',font='sans-serif',font_scale=2,color_codes=True,rc={"xtick.bottom":False,"ytick.left":True})

#==#

# apict = ['Online', 'WhSale', 'RcBiByRec', 'Draft', 'Gusta', 'Sync', 'Buy']
apict = ['Online', 'RcBiByRec', 'WhSale', 'Draft', 'Sync', 'Gusta', 'Buy']
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#==#

#COLS = DAY#
g = sns.catplot(data=countplot_data,x='api_client_title',y=None,hue='api_client_title',row=None,col='day',kind='count',estimator='mean',errorbar=('ci', 95),n_boot=1000,
seed=None,units=None,weights=None,order=apict,hue_order=apict,row_order=None,col_order=day,col_wrap=4,
height=5,aspect=1,log_scale=None,native_scale=False,formatter=None,orient=None,color=None,palette='bright',hue_norm=None,legend='full',legend_out=True,sharex=False,sharey=False,
margin_titles=False,facet_kws=None,ci='deprecated',
saturation=0.75,fill=True,stat='count',width=0.8,dodge=False,gap=0,edgecolor='black',linestyle='solid',linewidth=1,alpha=1)

#==#

g.figure.set_size_inches(20, 10)
g.figure.suptitle('Catplot/Countplot C - Api Client Title Count & Percentage of Count By Day',size=30,fontdict=suptitle_font) 
g.set_axis_labels("Sale Line Type","Count",fontdict=axis_labels_font,labelpad=None,loc=None) 
g.figure.subplots_adjust(left=None,bottom=None,right=None,top=0.9,wspace=0.3,hspace=0.3)

#==#

# Access the underlying axes
axes = g.axes.flatten()

# Add minor ticks to each subplot
for ax in g.axes.flat:
    ax.yaxis.set_major_formatter(StrMethodFormatter('{x:,}'))
    ax.minorticks_on()
    ax.tick_params(axis='x',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='y',length=13,width=2,color='cyan',direction='out',labelsize='medium',labelcolor='darkblue',labelfontfamily='tahoma',labelrotation=None,grid_linewidth=1)
    ax.tick_params(axis='x',which='minor',bottom=False,length=7,width=1,color='darkblue')
    ax.tick_params(axis='y',which='minor',bottom=True,length=7,width=1,color='darkblue')
    ax.spines[['top','right']].set_visible(False)
    ax.spines[['bottom','left']].set_visible(False)
    ax.grid(which='minor',linestyle='dashdot',color='white',linewidth=0.5)
    # ax.autoscale()
    # ax.axis('equal')
    # ax.set_xlim(left=0)
    # ax.set_ylim(bottom=0)
    # ax.set_xscale('log')
    ax.set_yscale('log')

#==#

# Customize the legend
legend = g.legend # Assign variable to legend
legend.set_bbox_to_anchor((1.05, 0.815)) # Set location of bbox_to_anchor [subplots adjust]
legend.set_title("Api Client Title",prop=dict(family='consolas',style='normal',weight='bold',size='x-large')) # Set title & properties
legend.get_title().set_color('red') # Change the color of the legend title separately
legend.get_title().set_alpha(1) # Change alpha of the title appearance
legend.set_frame_on(True) # Set frame
legend.get_frame().set_color('white')  # Set frame color
legend.get_frame().set_edgecolor('gold') # Set frame edgecolor
legend.get_frame().set_linewidth(0.7) # Set frame width
legend.get_frame().set_alpha(0.3)  # Makes the frame opaque (0-1)

# Apply legend properties for the labels
for text in legend.get_texts():
    text.set_fontfamily('consolas') # Set text font family
    text.set_fontstyle('italic') # Set text font style
    text.set_fontweight('bold') # Set text font weight
    text.set_fontsize('medium') # Set text font size
    text.set_color('darkblue') # Set text color
    text.set_alpha(0.7) # Set text alpha
    text.set_bbox(dict(boxstyle='square',fc='mistyrose',ec='cyan',ls='dashdot',lw=1,alpha=0.3)) # Set bbox properties

#==#

# Annotate counts and percentages in arrow & bbox ellipse format - #/%

# Annotation format properties
arrow = dict(arrowstyle="->",color='red',mutation_aspect=1,linewidth=1,linestyle='dotted',capstyle='round',joinstyle='round',alpha=1,connectionstyle='arc3,rad=0')
box=dict(boxstyle="ellipse",pad=0.1,facecolor='white',alpha=0.45,edgecolor='gold')

# Calculate the total number of instances
total = len(countplot_data)

# Function to add counts and percentages on the plot
def add_counts_and_percentages(ax):
    for p in ax.patches:
        count = p.get_height()
        percentage = f'{count / total:.2%}'
        x = p.get_x() + p.get_width() / 2
        y = p.get_height()
        ax.annotate(f'{count:,.0f}\n({percentage})',(x,y),xytext=(30,15),
                    ha='center',va='center',family='consolas',fontstyle='normal',fontsize=8,fontweight='bold',color='black',rotation=0,
                    textcoords='offset points',arrowprops=arrow,bbox=box)

# Add counts and percentages to each subplot in the FacetGrid
for ax in g.axes.flat:
    add_counts_and_percentages(ax)

#==#

my_path = r"\Users\tailb\Python-Documents\os\PNG Files\GhP"
plt.savefig(my_path + '/catplot-countplotC.png',transparent=None,dpi='figure',format=None,metadata=None,bbox_inches='tight',pad_inches=0.1,facecolor='auto',edgecolor='yellow',backend=None)

#==#

plt.show()